@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.carousel-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.carousel-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.carousel-container::-moz-scrollbar {
  background: #f1f1f1;
  border-radius: 10px;
}

.carousel-container::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.carousel-container::-moz-scrollbar-thumb:hover {
  background: #555;
}