.page{
  .chatPage{
      margin-top: 2px;
      background-color: #fff7ee;
      min-height: calc(100vh - 82px - 20px);
      padding-top: 20px;
      .chat{
          margin: auto;
          background-color: white;
          width: 98%;
          min-height: calc(100vh - 190px);
          border: 1px solid rgb(207, 205, 205);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          .texts{
              margin: 10px;
              font-size: 15px;
              font-weight: 600;

              .sentMessages{
                text-align: right;
                background-color: #4CAF50; /* Green background for sent messages */
                color: white;
                border-radius: 10px;
                padding: 10px;
                margin: 5px;
              }

              .receivedMessages{
                text-align: left;
                background-color: #f1f1f1; /* Gray background for received messages */
                color: black;
                border-radius: 10px;
                padding: 10px;
                margin: 5px;
              }
          }
      }

      .inputSection{
          margin: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          .stop{
              width: 100px;
              margin-left: 1%;
              background-color: white;
              border: 1px solid black;
              border-bottom-left-radius: 10px;
              cursor: pointer;
              font-size: 15px;
          }

          .blockedStop{
            width: 100px;
            margin-left: 1%;
            background-color: white;
            border: 1px solid black;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            font-size: 15px;
            opacity: 0.6;
            cursor: not-allowed;
            pointer-events: none;
        }

          .textArea{
              width: 100%;
              height: 80px;
              resize: vertical;
              font-size: 18px;
          }

          .send{
            width: 100px;
            margin-right: 1%;
            background-color: white;
            border: 1px solid black;
            border-bottom-right-radius: 10px;
            cursor: pointer;
            font-size: 15px;
        }

        .blockedSend{
          pointer-events: none;
          width: 100px;
          margin-right: 1%;
          background-color: white;
          border: 1px solid black;
          border-bottom-right-radius: 10px;
          cursor: pointer;
          font-size: 15px;
          opacity: 0.6;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
  }
}
